html, body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #f1a536;
}
nav{
    display: flex;
    gap: 25px;
}
nav a{
    text-decoration: none;
    color: black;
}
