html, body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: #f1a536;
}
nav{
    display: flex;
    gap: 25px;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: black;
}
.landing-image{
    position: relative;
    display: flex;
    justify-content: center;
}
.landing-image img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.landing-text{
    position: absolute;
    bottom: 10%;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #fff;
}
p, nav a{
    font-size: 18px;
    line-height: 1.6;
}
h1{
    text-align: center;
}
h2{
    font-size: 25px;
}
h3{
    color:#575656;
}
h4{
    margin-left: 5px;
    margin-bottom: 0;
}
.time{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80px;
    margin: 0;
    padding: 0;
}
.time h4{
    margin: 0;
    padding: 0;
    display: inline;
}
.time span{
    margin: 10px 0;
}
.recipe-name{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review{
    color:#a63223;
}
.recipe-name p{
    margin: 0;
}
button{
    background-color: #a63223;
    color:#fff;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    margin: 20px;
}
.printer{
    color:#575656;
    font-size: 20px;
    text-align: center;
}
ul, ol{
    margin: 0;
    padding: 0;
}
ol li{
    margin-bottom: 20px;
}
main, section{
    padding: 1% 7%;
}
section{
    background-color: #dadfea;
}
.instructions{
    display: flex;
    margin: 8% 0;
}
.ingredients{
    width:80%;
}
.directions{
    padding-left: 10%;
    width: 100%;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 4%;
}
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.card img{
    width: 100%;
    height: 220px;
}
.card-label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    
    background-color:#fff;
    
}
.where-to-eat img{
    border: 8px solid #dadfea;

}