html, body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: #f1a536;
}
nav{
    display: flex;
    gap: 25px;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: black;
}
.landing-image{
    position: relative;
    display: flex;
    justify-content: center;
}
.landing-image img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.landing-text{
    position: absolute;
    bottom: 10%;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #fff;
}
p, nav a{
    font-size: 18px;
    line-height: 1.6;
}
h2{
    font-size: 25px;
}
main{
    padding: 1% 7%;
}
.recipe-week{
    padding: 2% 7%;
    background-color: #dadfea;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 4%;
}
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.card img{
    width: 100%;
    height: 220px;
}
.card-label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    
    background-color:#fff;
    
}
.where-to-eat img{
    border: 8px solid #dadfea;

}